.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #0f0f0f;
  padding: 60px 0 80px 0;
  gap: 40px;
}

#title {
  text-align: center;
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 2s;
}

#title h1 {
  font-size: 2rem;
  color: #e5455b;
}
#title h2 {
  margin-top: 4px;
  font-size: 1rem;
  color: #e5e7eb;
}

.contato-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 2s;
}

.contato-card {
  margin-top: 30px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: auto;
  gap: 30px;
}
.contato-card a {
  color: white;
  text-decoration: none;
}
.contato-card div {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.contato-card div h1 {
  color: #e5455b;
}

fa-icon {
  font-size: 3em;
}
form {
  height: 45%;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 2s;
}
form label {
  font-size: 1.5em;
  margin-bottom: 4px;
  color: #e5455b;
}

form input {
  height: 2rem;
  border-radius: 0.25rem;
  padding: 4px;
}

#mensagem {
  padding: 4px;
  height: 10rem;
  border-radius: 0.25rem;
  resize: none;
}
#mensagem:focus {
  outline: none;
}

form input:focus {
  outline: none;
}

#btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#btn {
  width: auto;
  padding: 8px;
  height: auto;
  background-color: #e5455b;
  border-radius: 0.25rem;
  color: white;
  font-size: 1.2em;
  border: 0;
  cursor: pointer;
}

#btn:hover{
  background-color: #ff667b;
}



form div {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

app-form-debug {
  width: 100%;
  background-color: white;
  color: black;
}

.fade {
  opacity: 1 !important;
}

@media (max-width: 425px) {
  .section-container {
    height: 100%;
    gap: 20px;
  }

  .contato-card {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  fa-icon {
    font-size: 1.5em;
  }

  .contato-card a div h1 {
    font-size: 1em;
  }

  .contato-card div {
    gap: 15px;
  }

  #btn {
    width: auto;
    padding: 8px;
    height: auto;
    font-size: 0.9em;
  }

  form{
    width: 80%;
  }

  form label {
    font-size: 0.9em;
    
  }

  #title h1 {
    font-size: 1.5rem;

  }
  #title h2 {

    font-size: 0.9rem;

  }
}
