<section class="section-container "  >
  <h1 id="titulo-section" [ngClass]="{ fade: isLoaded }">{{name}}</h1>
  <div class="flex-options" [ngClass]="{ fade: isLoaded }">
    <button (click)="setIsQuali()">Qualificações</button>
    <button (click)="setIsExp()">Experiências</button>
  </div>
  <div [ngClass]="{'triangulo-esquerda': isQuali, 'triangulo-direita': isExp, 'fade': isLoaded}" ></div>
  <div class="content-container" [ngClass]="{ fade: isLoaded }">
    <div class="content">
      <app-quali-card
      (selectedOption)="onSelectedOption($event)"
      (descOption)="onSelectedDesc($event)"

        *ngIf="isQuali"
        [data]="quali"
        [iconCalendar]="faCalendarCheck"
        [iconSchoolOrWork]="faGraduationCap"
      ></app-quali-card>
      <app-quali-card
      (selectedOption)="onSelectedOption($event)"
      (descOption)="onSelectedDesc($event)"
        *ngIf="isExp"
        [data]="exp"
        [iconCalendar]="faCalendarCheck"
        [iconSchoolOrWork]="faGraduationCap"
      ></app-quali-card>
    </div>
  </div>
 
</section>
