.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #0f0f0f;
  gap: 60px;
  padding: 20px 0  40px 0;
}
.title-container {
  text-align: center;
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 2s;
}

.title-container h1 {
  font-size: 2em;
  color: #e5455b;
}
.title-container h2 {
  font-size: 1em;
  font-weight: normal;
  color: #e5e7eb;
}

.projetos-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 80%;
  gap: 40px;
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 2s;
}

.projetos-container button {
  width: 10rem;
  border: none;
  padding: 10px 0 10px 0;
  font-size: 1em;
  font-weight: bold;
  color: white;
  background-color: #e5455b;
  border-radius: 0.25rem;
  cursor: pointer;

}

.projetos-container button:hover {
  background-color: #FF667B;
 
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px

}

.grid-item{
  display: flex;
  width: 300px;
  height: 300px;
}

.fade {
  opacity: 1;
}




@media (max-width: 1024px) {
  .section-container {

    padding: 30px 0 30px 0;
  }
  .projetos-container {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px
  
  }
  
  .grid-item{
    display: flex;
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 425px) {

  .title-container {
    padding: 10px;
    
  }
  .title-container h1{
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px
  
  }
  
  .grid-item{
    display: flex;
    width: 300px;
    height: 300px;
  }
}