

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #0f0f0f;
  gap: 50px;
  padding: 60px 0 60px 0;
}

a {
  text-decoration: none;
  color: none;
}
#btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;

}
#icons-container{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#icons-container img{
    width: 30px;
    height: 30px;
}

.home-container {
  display: flex;
  width: 80%;
  gap: 30px;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 2s;
}
.home-container div {
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-container h2 {
  font-size: 2em;
}
.home-container h2,
h3,
p {
  color: #e5e7eb;
  text-align: center;
}
.home-container h1 {
  color: #e5455b;
  font-size: 3.5em;
}

.home-container img {
  width: 30%;
}

#btn-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5455b;
  width: 7.2rem;
  height: 2.2rem;
  font-size: 1em;
  color: white;
  border-radius: 0.25rem;
  padding: 10px 0 10px 0;
  cursor: pointer;
  border: none;
  transition: all 0.5s;
  gap: 4px;
}

.btn-curriculo{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5455b;
  width: 15rem;
  height: 2.5rem;
  font-size: 1.5em;
  color: white;
  border-radius: 0.25rem;
  padding: 10px 0 10px 0;
  cursor: pointer;
  border: none;

  gap: 4px;
  opacity: 0;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1.5s;
 
}

.btn-curriculo:hover{
  background-color: #ff667b;
  width: 17rem;

}

#btn-container button:hover {
  background-color: #ff667b;
  width: 8rem;

}

.fade {
  opacity: 1 ;
}

#side-socials{
  height: 100%;
  display: flex;
  gap:10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.side-text {
  font-size: 1em;
  position: relative;
  transform: rotate(90deg);
  color: #e5455b;
  margin: 35px 0 35px 0;
  font-weight: bold;
  opacity: 0;
  transition: all 2s;
  left: 200px;

}

.barra {
  width: 0.25rem;
  height: 4rem;
  background-color: #e5455b;
  opacity: 0;
  transition: opacity 1s ease-out;
  transition: transform 2s;
  transform: translateY(-300px);

}

.triangulo-t{
  width: 0;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid #e5455b; 
  opacity:0;
  transition: opacity 1s ease-out;
  transition: transform 2s;
  transform: translateY(-300px);
}
.triangulo-b{
  width: 0;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 0.5rem solid #e5455b; 
  opacity:0;
  transition: opacity 1s ease-out;
  transition: transform 2s;
  transform: translateY(300px);
}

#side-socials a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity:0;
  transition: opacity 1s ease-out;
  transition: transform 2s;
  transform: translatex(100px);

}


#side-socials fa-icon {
  color: white;
  font-size: 2rem;
  transition: all 0.5s !important;
}
#side-socials fa-icon:hover{
  color: #e5455b;
  font-size: 2.2rem;
}

.slide-t-to-b{
  transform: translateY(0);
  opacity: 1;
}
.slide-b-to-t{
  transform: translateY(0);
  opacity: 1;
}
.slide-r-to-l{
  left: 0;
  opacity: 1;
}
.slide-icon {
  transform: translatex(0) !important;
  opacity: 1 !important;
}




@media (max-width: 768px){
  .section-container{

  }
  .home-container h2 {
    font-size: 1.5em;
  }
  .home-container  h3 {
    font-size: 1.5em;
  }
  .home-container h1 {

    font-size: 2.5em;
  }
  
  .home-container {
    flex-direction: column;
    justify-content: center;
  }
  .home-container img {
    width: 40%;
  }

  #btn-container button {
    width: 6.2rem;
    height: 2rem;
    font-size: 1em;
    transition: all 0.5s;
  }

  #side-socials{
    height: auto;
    flex-direction: row;
  }

  .barra {
    width: 4rem;
    height: 0.25rem;
    transform: translateY(300px);
  }

  .slide-t-to-b{
    transform: translateY(0);
    opacity: 1;
  }
  
  .side-text {
    transform: rotate(0deg);
    transform: translateY(50px);
  
  }

  .slide-r-to-l{
    transform: translateY(0px);
    opacity: 1;
  }

  .triangulo-t{
      transform: rotate(-90deg);
  
  }
  .triangulo-b{
    transform: rotate(-90deg);

}
  
}


@media (max-width: 1024px ){
  .section-container{

    height: auto;
  }

  .side-text {
    font-size: 0.8rem;
    width: 80px;
    margin: 20px 0 20px 0;
  }
  
}

@media (max-width: 425px){
  .section-container{
    justify-content: flex-start;
    padding: 60px 0 60px 0;
    gap: 60px;
  }

  .barra {
    width: 2.5rem;
 
  }
  .side-text {
    width: 70px;
    font-size: 12px;
    margin: 10px 0 10px 0;
  }

  #side-socials fa-icon {
    font-size: 1.5em;
    
  }
  .home-container img {
    width: 60%;
  }
  .home-container h2 {
    font-size: 1em;
  }
  .type{
    font-size: 0.5em;
  }
 
  .home-container h1 {
    text-align: center;
    font-size: 2em;
  }

  #icons-container{

    gap: 2px;
  
  }
  
  #icons-container img{
     width: 28px;
     height: 28px;
  
  }

}