.navContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: #080808;
  padding: 20px 0  20px 0;
  color: #e5e7eb;
}

.navOptionsContainer img{
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 0.5s;
}
.navOptionsContainer img:hover{
  shadow: rgba(255, 255, 255, 1);
}


.NavBar {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 2s;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


.logoC {
  font-size: 48px;
  color: #E5455B;
  font-weight: bold;
  text-shadow: -2px 4px 0 white;
  font-family: "Roboto", sans-serif;
}
.logoA {
  font-size: 48px;
  color: #ffffff;
  font-weight: bold;
  text-shadow: -2px 4px 0 #E5455B;
  font-family: "Roboto", sans-serif;
}

ul li {
  list-style-type: none;
  cursor: pointer;
}
ul li:hover {
  color: #FF667B;
}
ul li.active {
  color: #E5455B;
  
}

ul li.active-mobile {
  color: #080808;
 
  
}
.navOptionsContainer{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items:  center;
  gap: 40px;
}

.navOptionsContainer ul {
  display: flex;
  justify-content: space-between;

  align-items: center;
  gap: 16px;
  font-weight: bold;
  font-size: 1.3em;
}

.navInput {
  border: 0;
  border-radius: 0.25rem;
}

.menu-mobile{
  display: none;
  font-size: 1.9em;
}

.menu-hidden {
  position: absolute;
  right: 100px;
  opacity: 0;
  top: 0;
  width: 0px;
  height: 0vh;
  transition: all 0.2s;
}

.mobile-close {
  width: 100%;
  display: flex;
  justify-content: flex-end;

}

.menu-visible {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.5em;
  text-align: center;
  padding:20px;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  opacity: 1;
  background-color: rgba(229, 69, 91, 1);
  transition: all 0.2s;
  z-index: 999;
}

.menu-visible ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.fade {
  opacity: 1;
}


@media (max-width: 425px){
  .navOptionsContainer img{
    width: 20px;
    height: 20px;
    
  }
  .menu-mobile{
    display: block;
  }
  .navOptionsContainer ul{
    display: none;
  }

  .logoC {
    font-size: 40px;
    
  }
  .logoA {
    font-size: 40px;
   
  }

}