<header class="navContainer">
  <nav class="NavBar" [ngClass]="{ fade: isLoaded }">
    <div routerLink="/" class="logoContainer">
      <span class="logoC" >C</span>
      <span class="logoA" >A</span>
    </div>
    <div class="navOptionsContainer">
      <ul>
        <li routerLink="/sobre" routerLinkActive="active">Sobre</li>
        <li routerLink="/skills" routerLinkActive="active">Skills</li>
        <li routerLink="/qualificações" routerLinkActive="active">Qualificações</li>
        <li routerLink="/projetos" routerLinkActive="active">Projetos</li>
        <li routerLink="/contato" routerLinkActive="active">Contato</li>
      </ul>
    </div>
  </nav>
</header>
