.skill-card{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 420px;;
    height: 50px;
    align-items: center;
    background-color: var(--btn-bg);
    color: white;
    cursor: pointer;
    font-size: 1.5em;
  }

  .skill-container{
    position: absolute;
    justify-content: center;
    width: 420px;
    height: 380px;
    align-items: center;
    border: 1px solid var(--btn-bg);
    color: var(--text);
    cursor: pointer;
    padding: 10px;
  }

  .porcent-container {
    width: 100%;
    height: auto;
    background-color: white;
  }
  
  .porcent {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    width: 0;
    height: auto;
    padding-right: 4px;
    background-color: #e5455b;
    transition: width 0.5s ease-in-out;
  }

  .porcent span{
    font-size: 1em;
    font-weight: bold;
  }

 

  .skill-container {
    overflow: hidden;
  }
  
  .skill-container.ng-enter,
  .skill-container.ng-leave {
    transition: all 0.5s ease-out;
  }
  
  .skill-container.ng-enter {
    transform: translateY(-100%);
  }
  
  .skill-container.ng-enter-active {
    transform: translateY(0%);
  }
  
  .skill-container.ng-leave {
    transform: translateY(0%);
  }
  
  .skill-container.ng-leave-active {
    transform: translateY(100%);
  }


  @media (max-width: 1440px){
   
    .skill-card{
      position: initial;
      
    }
  
    .skill-container{
      position: initial;
     
    }
  }

  @media (max-width: 425px) {
    .skill-card{
      width:300px;
      
    }
  
    .skill-container{
      width:300px;
     
    }
  }