<section class="section-container">

  <div class="title-container" [ngClass]="{ fade: isLoaded }">
    <h1>Sobre mim</h1>
  </div>
  <div class="sobre-container" [ngClass]="{ fade: isLoaded }">
    <img [src]="imgSrc" alt="Camilo de Assis" />
    <div>
      <h3>Introdução</h3>
      <p>
        Sou formando em Análise e Desenvolvimento de Sistemas e tenho
        conhecimento em diversas tecnologias web, tanto no back-end quanto no
        front-end. No back-end, tenho conhecimentos em Node.js, Sequelize e
        MySQL, enquanto no front-end, conhecimentos sólidos em JavaScript, HTML,
        CSS, ReactJS, TailwindCSS, TypeScripte e recentemente embarquei na
        jornada de aprender Angular.
      </p>
      <p>
        Sou uma pessoa focada e determinada a aprender todos os aspectos do
        mundo do desenvolvimento web, e estou sempre em busca de novos desafios
        e oportunidades para aprimorar minhas habilidades e expandir meus
        conhecimentos. Estou a 10 meses focado e imerso no mundo da tecnologias
        web. Tenho um forte comprometimento e dedicação ao trabalho, e já
        concluí diversos projetos utilizando essas tecnologias. Sempre procuro
        entregar meu melhor, superando desafios e atingindo prazos.
      </p>
      <p>
        Atualmente, estou no último período da faculdade e estou empenhado em
        aperfeiçoar minhas habilidades e adquirir experiência para ingressar no
        mercado de desenvolvimento de software, seja como Desenvolvedor Backend
        ou Frontend. Se você está procurando por um Desenvolvedor confiável e
        apaixonado, não hesite em entrar em contato comigo. Estou animado para
        colaborar em projetos futuros e crescer juntos! ✌
      </p>
    </div>
  </div>
</section>
