<section class="section-container">

  <div class="title-container" [ngClass]="{ fade: isLoaded }">
    
    <h1>Sobre mim</h1>
    <h3>Introdução</h3>
  </div>

  <div class="sobre-container" [ngClass]="{ fade: isLoaded }">
    <img [src]="imgSrc" alt="Camilo de Assis" />
    <div>
      
      <p>
       Sou formando em Análise e Desenvolvimento de Sistemas, com amplo conhecimento
       em tecnologias web, tanto no back-end quanto no front-end. No back-end, possuo habilidades em Node.js, Sequelize e MySQL,
       enquanto no front-end, sou proficiente em Angular, TypeScript, JavaScript, HTML, CSS, ReactJS. 
      </p>
      <p>
        Com uma abordagem focada e determinada, busco aprofundar minha compreensão de todas as facetas do desenvolvimento web.
        Ao longo dos últimos 2 anos, mergulhei de cabeça no mundo das tecnologias web, concluindo com sucesso vários projetos
        que abrangem diversas dessas tecnologias. Minha ética de trabalho sólida me impulsiona a entregar resultados de alta
        qualidade, superar desafios e cumprir prazos.
      </p>
      <p>
        Atualmente, atuo a 6 meses como Desenvolvedor Front-end especializado em Angular, com uma ênfase significativa em otimizar
        processos para a indústria 4.0. Minha jornada profissional se desenrola em um ambiente ágil, onde metodologias como
        Scrum e Kanban orquestram nosso fluxo de trabalho de maneira eficiente.
      </p>
      <p>
        Se você procura por um Desenvolvedor confiável e apaixonado, estou à disposição para colaborar em projetos futuros e
        crescer juntos. Minha dedicação, combinada com minha especialização em Angular e meu histórico sólido, me qualificam
        para enfrentar os desafios do desenvolvimento web com confiança e sucesso. Aguardo com expectativa a
        oportunidade de explorar novas possibilidades e contribuir para projetos inovadores. ✌
      </p>
    </div>
  </div>

</section>
